[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
  url = git://github.com/Shougo/neocomplcache.git
  ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
  url = git://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/tagbar"]
	path = bundle/tagbar
  url = git://github.com/majutsushi/tagbar.git
  ignore = dirty
[submodule "bundle/jshint"]
	path = bundle/jshint
  url = https://github.com/walm/jshint.vim.git
  ignore = dirty
[submodule "bundle/vim-js"]
	path = bundle/vim-js
  url = https://github.com/pangloss/vim-javascript.git
  ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
  ignore = dirty
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
  ignore = dirty
[submodule "bundle/lightline"]
	path = bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
  ignore = dirty
[submodule "bundle/vim-coffee"]
	path = bundle/vim-coffee
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
  ignore = dirty
